<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3BHvcQhrqTDQgzh5KXCqy5qh42r9e7dU</string>
	<key>GCM_SENDER_ID</key>
	<string>1012043894026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.susPro</string>
	<key>PROJECT_ID</key>
	<string>nupro-63fb3</string>
	<key>STORAGE_BUCKET</key>
	<string>nupro-63fb3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012043894026:ios:4076678550acfa1bf0fef3</string>
</dict>
</plist>